<div>
  <font size = "10">
  <h1 id="team_heading"> Team</h1>
  
  <p> . . .</p>
  </font>
  <p font>We believe in entrepreneurial spirit and
bring a full range of experience.</p>
<div id="line">
<hr></div>
<div id="l">
<a href="" target="_self" ng-click="fun1()">All</a>
<a href="" target="_self" ng-click="fun3()" id="Investment_team">Investment Team</a>
<a href="" target="_self" ng-click="fun3()" id="Investment_advisors">Investment Advisors</a>
</div>
<div id="team">
  <a href="#" ><img src="https://wallpapercave.com/wp/HFsWtAz.jpg" ></a>
  <p id="name"> Bill Gates</p>
  <p id="designation">taken as reference</p>
</div>
</div>


