<div>
  <font size = "10">
  <h1 id="team_heading"> Portfolio</h1>
  
  <p> . . .</p>
  </font>
  <p font>We partner with game changing companies
to help realize their vision.</p>

<button class="button button1">Private companies</button>
<button class="button button1">Public companies</button>
<div id="line">
<hr></div>

<div  margin-right="150px">
        <a class="nav-link" routerLinkActive="active" routerLink="/All_sectors">All Sectors</a>

        <a class="nav-link" routerLinkActive="active" routerLink="/Consumer">Consumer</a>

        <a class="nav-link" routerLinkActive="active" routerLink="/enterprise_tech">enterprise Tech</a>

        <a class="nav-link" routerLinkActive="active" routerLink="/Finance">Finance</a>

        <a class="nav-link" routerLinkActive="active" routerLink="/HealthCare">HealthCare</a>

        <a class="nav-link" routerLinkActive="active" routerLink="/Industrials">Industrials</a>

        <a class="nav-link" routerLinkActive="active" routerLink="/Internet">Internet</a>

        <a class="nav-link" routerLinkActive="active" routerLink="/IT_Services">IT Services</a>
 
  </div>
    <div>
      <img src="https://media-exp1.licdn.com/dms/image/C4E0BAQFSAqNI1VDG8g/company-logo_200_200/0?e=2159024400&v=beta&t=8Th5K8hKcmBI3YA7klldr8I3tnmieYSu6poSLLqzI1o">
       <img src="https://media-exp1.licdn.com/dms/image/C510BAQGYnby29O_rOA/company-logo_200_200/0?e=2159024400&v=beta&t=0k-mMRRMhg_j5CIYWyeFIXUYm1qwAObzfFTRtwThuAc">
    </div>
</div>


